body {
    background-color: black;
}

#main-1 {
    background-color: #c0c0c0;
    background-size: 50%;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 50px;
    margin-left: 50px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
}

a {
    font-family: "Sekuya", system-ui;
    color: black;
    text-decoration: none;
    box-shadow: 10px 10px 20px black;
    background-color: #eeff00;
    margin-left: 200px;
    background-size: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin-top: 20px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
}

.mt-5 {
    margin-top: 64px;
}

.iten {
    flex: 0 0 33.33%;
}

.card {
    max-width: 300px;
    margin: 0 auto;
}

.card-img {
    width: 100%;
    height: fit-content;
    
}

.card-img img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #949494;
}


.card-body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #c0c0c0;
    margin-top: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #949494;
    padding: 8px 12px;
}

.card-body h3 {
    font-size: 24px;
}

.card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

